body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #343a40;
    color: #ffffff;
    width: 250px;
    padding: 20px;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #1abc9c;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.main-content h1 {
    color: #343a40;
}

section {
    margin-top: 20px;
}

section h2 {
    color: #343a40;
}
