body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #343a40;
    color: #ffffff;
    width: 250px;
    padding: 20px;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #1abc9c;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.main-content h1 {
    color: #343a40;
}
#fixErrorsButton {
    display: none;
    /* Otros estilos para tu botón */
}


section {
    margin-top: 20px;
}

section h2 {
    color: #343a40;
}
.correction-content {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.correction-option {
    margin-bottom: 15px;
}

.correction-option:last-child {
    margin-bottom: 0;
}

.text-inputs-container {
    margin-top: 10px;
}

.submit-texts {
    margin-top: 10px;
}

#submitAddress, #submitTexts {
    margin-left: 5px;
}

/* Mejora en el diseño de los botones para que sean más atractivos */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.main-content {
        font-family: Arial, sans-serif;
        color: #333;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr.error td {
        color: #d9534f;
    }

    tr.warning td {
        color: #f0ad4e;
    }

.text-inputs-container input {
    flex: 1 0 22%; /* Esto hará que cada input intente ocupar el 22% del contenedor */
    margin: 0.5%; /* Pequeño margen para no tocar los bordes */
}

